<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  
      <div class="container">
          <a class="navbar-brand" href="#">{{title}}</a>
  
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" 
              routerLinkActive="active" routerLink="playlists">Playlists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
              routerLinkActive="active" 
              routerLink="music">Music Search</a>
            </li>
          </ul>
      </div>
</nav>

  <div class="container">
   <div class="row">
     <div class="col">
       <h1>
         Welcome to {{title}}!
       </h1>
      
         <router-outlet></router-outlet>

    </div>
  </div>
</div>